$color: brown;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

* { box-sizing: border-box; }


html, body {
    font-size: 18px;
    font-family: 'ibm plex sans','helvetica',sans-serif;
    background: #f0f0f0;
    padding: 0;
    margin: 0;
}


img {
  max-width: 100%;
}


form {
  margin: 0;
}

a {
    color: $color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

nav {

    a:hover {
        text-decoration: none;
    }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem 0.5rem 0 0.5rem;
    li {
        display: inline-block;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        position: relative;
        margin-bottom: -2px;

        &.active {
          border-bottom: 2px solid $color;
        }

        &.menu {
            cursor: pointer;
        }

        .label {
            display: none;
        }

        &.big_screen_only {
            display: none;
        }

        @media all and (min-width: 600px) {
            &.small_screen_only {
                display: none;
            }

            &.big_screen_only {
                display: inline-block;
            }


            .label {
                display: inline;
            }
        }

        ul {
            display: none;
            position: absolute;
            top: 1rem;
            width: 200px;
            background: #fff;
            z-index: 2;
            box-shadow: 0px 10px 10px rgba(0,0,0,0.15);
            right: 0rem;
            text-align: right;

            @media all and (min-width: 875px) {
                right: auto;
                left: -1rem;
                text-align: left;
            }

            li {
                &:first-child {
                    padding-top: 1rem;
                }
                display: block;
                border-bottom: 2px solid #CCC;
                padding: 0.5rem 1rem 0.5rem 1rem !important;
            }
        }

        &:hover {
            ul {
                display: block;
            }
        }



    }
  }

    &.right {
       right: 0;
       top: 0;
       position: absolute;

       li  {
         padding-left: 0rem;
         padding-right: 1rem;
       }
     }
}

button, a.button {
    font-size: 18px;
    border: 0px;
    border-radius: 6px;
    padding: 0.25rem 1rem;
    background-color: #FFCCCC;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#header {
    padding: 0 1rem;
    position: fixed;
    padding: 0;
    background-color: #FFF;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid #CCC;
    .wrapper {
      position: relative; /* for the nav */
    }
}

.body {
  margin-top: 3rem;
}

.wrapper {
    max-width: 600px;
    margin: 0px auto;
}

.post_form {
    padding: 1rem;
    background: #FFF;

    .avatar {
        float: left;
        img {
            width: 50px;
            height: 50px;
        }
    }

    .composer {
        margin-left: 70px;
        border: 2px solid #CCC;
        margin-bottom: 1rem;
        // display: grid;
        textarea {
            width: 100%;
            border: 0;
            margin:0;
            padding:0.5rem;
            // height: 3.5rem;
        }
    }

    .img_preview {
        width: 100px;
        max-height: 100px;
        margin: 0.5rem;
        position:relative;
        display: inline-block;
        overflow: hidden;

        // &:after {
        //     content: 'âŽ';
        //     display: block;
        //     position: absolute;
        //     top: 0.5rem;
        //     right: 0.75rem;
        // }

        img {
            max-width: 100%;
            border: 1px solid #CCC;
            display: block;
        }
    }
    .avatar {
        width: 32px;
        height: 32px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    textarea {
        flex-grow: 1;
        margin-bottom: 1rem;
        font-size: 20px;
        // height: 3rem;
    }

    .actions {
        text-align: right;
    }
}

.content {
    // @media all and (max-width: 600px) {
    //     position: fixed;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     overflow: auto;
    //     background-color: #fff;
    //     -webkit-backface-visibility: none;
    //     -webkit-overflow-scrolling: touch;
    // }
}

ul.notifications {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #FFF;

    li {

        margin: 0;
        border-top: 1px solid #CCC;
        padding: 0.5rem 1rem 0.5rem;

        .post {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            border: 1px solid #CCC;
            padding: 0.5rem;
        }

    }
}

ul.posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #FFF;

    li {

        @include clearfix;


    }

}

.post {
    @include clearfix;

    .avatar {
        float: left;
        padding-top: 3px;
        img {
            width: 50px;
            height: 50px;
        }
    }

    margin: 1rem 0;
    border-top: 1px solid #CCC;
    padding: 0.5rem 1rem 0;

    &.revised {
      padding-bottom: 0.5rem;
    }

    .content {
        margin-left: 70px;
    }

    .text {
        display: block;
        margin-bottom: 0.5rem;
    }


    .actions {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0;
            padding: 0.25rem;
            border: none;
        }
    }

    .image {
        border: 1px solid #CCC;
        max-width: 100% !important;
        display: inline-block;

        img {
            max-width: 100%;
        }
    }


    &.detail_view {

        margin-top: 4rem;
        background-color: #FFF;
        border: 1px solid #CCC;

        .text {
            font-size: 1.2rem;
        }
    }
}

.byline {
    .username {
        font-weight: bold;
    }
    margin-bottom: 0.25rem;
}

.replyline {
    font-weight: lighter;
    margin-bottom: 0.25rem;
    font-size: 0.8rem;
}

.revisionline {
    font-weight: lighter;
    margin-bottom: 0.25rem;
    font-size: 0.8rem;
}

.date {
    font-weight: lighter;
}

.profile {

  padding-top: 2rem;

  h1 { margin: 0; }
  text-align: center;

  nav {
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        padding: 1rem;
      }
    }
  }

}


.upload-btn-wrapper {
  position: relative;
  // overflow: hidden;
  display: inline-block;
}

.attachment,
.attachment {
    background: transparent;
    font-size: 18px;
    border: 0px;
    border-radius: 6px;
    padding: 0.25rem 1rem;
    display: inline-block;
    cursor: pointer;
}

ul.replies {
    list-style-type: none;
    background: #FFF;
    margin: 0;
    padding: 0;

    li {
        padding: 1rem;
        border-bottom: 1px solid #CCC;


        .content {
            margin-left: 70px;
        }
    }
}

h1 {
  /* used at top of profile page */
}

h2 {
  /* title of "Revisions" page */
  text-align: center;

}


.dialog {
    background: #FFF;
    padding: 1rem;
    margin: 1rem 0 1rem;

    h1,h2,h3 {
        margin-top: 0;
    }
}

.tiny_avatar {
    display: inline-block;
    img {
        width: 25px;
        height: 25px;
    }
}



.menu-highlighted {
    font-weight: bold;
}

.user-search {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #FFF;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
}

.user-search .list-group-item.active {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.user-search .list-group-item.active .text-muted {
    color: #ccc;
}

.user-search .list-group-item.active .text-primary {
    color: #fff;
}

.user-search .list-group-item {
    padding: 5px;
}

.user-search .user-photo {
    max-width: 30px;
    max-height: 30px;
    border-radius: 15px;
}

mentio-menu {
    display: none;
}

.editprofile {

    p {
        label {
            display: block;
        }

        input, textarea {
            font-size: 1.2rem;
            // width: 100%;
        }

        textarea {
            width: 100%;
        }
    }


}

.big_search {
    text-align: center;
    margin: 4rem 1rem 1rem 1rem;

    input {
        font-size: 16px;
    }
}



#message_window {
    /*height: 500px;
    width: 320px;*/
    height: calc(100% - 55px);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.online_now {
  padding: 0.25rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  background: #F0FFF0;
}

#roster {
  display: none;
  flex-shrink: 0;
  width: 200px;
  border-left: 1px solid #CCC;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 1rem;
    }
  }

  @media all and (min-width: 600px) {
    display: block;
  }

}

#chat {
  display: flex;
  flex-direction: column;
  // max-width: 600px;
  flex-grow: 1;
  margin: 0px auto;
 section {
      flex-grow:  1;
      flex-direction: column-reverse;
      display: flex;
      overflow-y: auto;
      // -webkit-overflow-scrolling: touch;
      //
      // & > div {
      //   height: calc(100% + 1px);
      // }
  }

   footer {
     border-top: 1px solid #CCC;
    flex-shrink: 0;
  }
}

#message_window .disconnected {
    background: #FFFFCC;
    padding: 0.25rem;
}
#message_window.connected .disconnected {
    display: none;
}
#message_window .offline {
    display: none;
}
#message_window.offline .disconnected {
  display: none;
}
#message_window.offline .offline {
  background: #FF0000;
  color: #FFF;
  padding: 0.25rem;
  display: block;
}


footer.pagination {
  @include clearfix;
  a {
    display: block;
    padding: 1rem;
  }

  .previous {
    float: left;
  }
  .next {
    float: right;
  }
}

.loading {
  padding: 1rem;
  background: #FFF;
  img {
    max-width: 100%;
    margin: 0px auto;
    display: block;
  }
}
