<html>
<head>
    <title>Tots</title>
    <script src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <div class="wrapper">
            Tots!
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    {{#@loggedin}}<li><A href="/me">{{@user.displayName}}</a></li>{{/@loggedin}}
                    {{#@loggedin}}<li><a href="/logout">Logout</a></li>{{/@loggedin}}
                    {{^@loggedin}}<li><a href="/login">Login</a></li>{{/@loggedin}}
                </ul>
            </nav>
        </div>
    </header>
    <div class="wrapper">
        {{#@loggedin}}
        <form method="post" action="/actions/post" class="post_form">
            <div class="composer">
                <img src="{{@user.picture}}" class="avatar" />
                <textarea name="text" placeholder="Share a tot"></textarea>
            </div>
            <div class="actions">
                <button type="submit" {{^@loggedin}}disabled{{/@loggedin}}>Post</button>
            </div>
        </form>
        {{/@loggedin}}
        {{{body}}}
    </div>
</body>
</html>
