<html>
<head>
    <title>Tots.cool</title>
    <script src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//rawgithub.com/mgcrea/angular-pull-to-refresh/master/dist/angular-pull-to-refresh.js"></script>
    <script src="/js/angular-file-input/dist/angular-file-input.min.js"></script>

    <script src="/app.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//rawgithub.com/mgcrea/angular-pull-to-refresh/master/dist/angular-pull-to-refresh.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
    <link rel="manifest" href="/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


</head>
<body ng-app="tots" ng-controller="app">
    <header id="header">
        <div class="wrapper">
            <nav>
                <ul>
                    <li><a href="/">🏠<span class="label"> Home</span></a></li>
                    {{#@loggedin}}
                    <li><a href="/notifications">🎉<span class="label"> Notifications</span></a></li>
                    <li><a href="/public">🌎<span class="label"> Public</span></a></li>
                    {{/@loggedin}}
                </ul>
            </nav>
            <nav class="right">
                <ul>
                    <li><form method="get" action="/search"><input type="search" name="query" placeholder="Search" /></form></li>
                    {{#@loggedin}}<li class="menu">
                        Me
                        <ul>
                            <li><A href="/me">My Profile</a></li>
                            <li><a href="/editprofile">Edit Profile</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>{{/@loggedin}}
                    {{^@loggedin}}<li><a href="/login">Login</a></li>{{/@loggedin}}
                </ul>
            </nav>
        </div>
    </header>
    <div class="body">
      <div class="wrapper">
          {{{body}}}
      </div>
    </body>
</body>
</html>
