<html>
<head>
    <title>Tots</title>
    <script src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//rawgithub.com/mgcrea/angular-pull-to-refresh/master/dist/angular-pull-to-refresh.js"></script>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//rawgithub.com/mgcrea/angular-pull-to-refresh/master/dist/angular-pull-to-refresh.css" rel="stylesheet">

</head>
<body ng-app="tots" ng-controller="app">
    <header id="header">
        <div class="wrapper">
            <nav>
                <ul>
                    <li><a href="/">🏠 Home</a></li>
                    <li><a href="/notifications">🎉 Notifications</a></li>
                </ul>
            </nav>
            <nav class="right">
                <ul>
                    <li><form method="get" action="/search"><input type="search" name="query" placeholder="Search" /></form></li>
                    {{#@loggedin}}<li><A href="/me">{{@user_profile.displayName}}</a></li>{{/@loggedin}}
                    {{#@loggedin}}<li><a href="/logout">Logout</a></li>{{/@loggedin}}
                    {{^@loggedin}}<li><a href="/login">Login</a></li>{{/@loggedin}}
                </ul>
            </nav>
        </div>
    </header>
    <div class="body">
      <div class="wrapper">
          {{{body}}}
      </div>
    </body>
</body>
</html>
