<form method="post" action="/actions/editprofile">

<p>
  <label>Username:</label>
  <input name="username" value="{{user_profile.username}}" />
</p>

<p>
  <label>Display Name:</label>
  <input name="displayName" value="{{user_profile.displayName}}" />
</p>

<p>
  <label>Bio:</label>
  <textarea name="bio">{{user_profile.bio}}</textarea>
</p>

<button type="submit">Save</button>
</form>
