<div class="wrapper">
  <div class="panel">
    <h1>Tots.cool is Invite Only</h1>

    <p>
      To join Tots.cool, you'll need an invite from a current member.
    </p>

    <!-- <p><strong>How do I score an invite to this sweet website?</strong></p> -->


  </div>
</div>
