<script>
    var payload = {{{payload}}};
</script>
<div class="wrapper">
  <form method="post" class="signup" action="/signup" encType="multipart/form-data">
        <h1>Complete Registration for Tots</h1>

        <p>
            I am glad you want to join Tots!
            I hope it is a fun place for you to post stuff and
            chat with people.
            I remember when social networks were fun, I hope you do too!
        </p>

        <p>
            Before you get started, we need to set up your account.
        </p>

        <p>
            <label>Username:</label>
            <input type="text" ng-model="ui.user_profile.username" name="username" required pattern="\w+">
            <span class="tip">
              No spaces or funny characters, please!
              This will be part of your profile URL, and people can @mention you with it.</span>
        </p>

        <p>
            <label>Display Name:</label>
            <input type="text" ng-model="ui.user_profile.displayName" name="displayName" required >
            <span class="tip">This will be displayed on your posts and profile.</span>
        </p>

        <label>Avatar:</label>
        <div ng-if="ui.user_profile.picture" class="checkbox">
          <img ng-src="{% ui.user_profile.picture %}" class="avatar">
          <label for="use_existing_avatar"><input type="checkbox" id="use_existing_avatar" name="use_existing_avatar" ng-model="ui.user_profile.user_existing_avatar"> Use this one</input></label>
        </div>

        <p>
          <span class="tip">Upload a nice square avatar image</span>
          <input type="file" name="image" />
        </p>


        <p>
            <strong>
                We are doing things a bit differently here!
                There are rules!
                You can only join Tots if you agree to the below items.
            </strong>
        </p>

        <p class="checkbox">
            <label><input type="checkbox" required> I want to post stuff and chat with friends</input></label>
        </p>
        <p class="checkbox">
            <label><input type="checkbox" required> I am not a white supremacist, ethno-nationalist or a nazi sympathizer</input></label>
        </p>
        <p class="checkbox">
            <label><input type="checkbox" required> I am person, not a brand or marketing campaign</input></label>
        </p>

        <p class="checkbox">
            <label><input type="checkbox" required> I understand this is a shared public space and that I am expected to show respect to my fellow members and to the general public</input></label>
        </p>
        <p class="checkbox">
            <label><input type="checkbox" required> I will not attack or harass any member of this site, or use this site to attack or harass anyone, anywhere, ever</input></label>
        </p>

        <button type="submit">Join Tots</button>

    </form>
</div>
