* {
  box-sizing: border-box; }

html, body {
  font-size: 18px;
  font-family: 'ibm plex sans','helvetica',sans-serif;
  background: #f0f0f0;
  padding: 0;
  margin: 0; }

a {
  color: brown;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  nav ul li {
    display: inline-block;
    padding-right: 1rem;
    position: relative; }
    nav ul li.menu {
      cursor: pointer; }
    nav ul li ul {
      display: none;
      position: absolute;
      top: 1rem;
      left: 0;
      width: 200px;
      background: #fff;
      z-index: 2;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15); }
      nav ul li ul li {
        display: block;
        border-bottom: 2px solid #CCC;
        padding: 0.5rem 1rem; }
        nav ul li ul li:first-child {
          padding-top: 1rem; }
    nav ul li:hover ul {
      display: block; }
nav.right {
  right: 0;
  top: 0;
  position: absolute; }
  nav.right li {
    padding-left: 1rem;
    padding-right: 0; }

button, a.button {
  font-size: 18px;
  border: 0px;
  border-radius: 6px;
  padding: 0.25rem 1rem;
  background-color: #FFCCCC; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#header {
  padding: 0 1rem;
  position: fixed;
  padding: 1rem 0 0.5rem 0;
  background-color: #FFF;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #CCC; }
  #header .wrapper {
    position: relative;
    /* for the nav */ }

.body {
  margin-top: 3rem; }

.wrapper {
  max-width: 600px;
  margin: 0px auto; }

.post_form {
  padding: 1rem;
  background: #FFF; }
  .post_form .composer {
    display: flex; }
  .post_form .avatar {
    width: 32px;
    height: 32px;
    flex-grow: 0;
    flex-shrink: 0; }
  .post_form textarea {
    flex-grow: 1;
    margin-bottom: 1rem;
    font-size: 20px;
    height: 3rem; }
  .post_form .actions {
    text-align: right; }

ul.notifications {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #FFF; }
  ul.notifications li {
    margin: 1rem 0;
    border-top: 1px solid #CCC;
    padding: 0.5rem 1rem; }
    ul.notifications li .post {
      margin-top: 0.5rem;
      border: 1px solid #CCC;
      padding: 0.5rem; }

ul.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #FFF; }
  ul.posts li {
    margin: 1rem 0;
    border-top: 1px solid #CCC;
    padding: 0.5rem 1rem 0; }
    ul.posts li .byline {
      margin-bottom: 0.25rem; }
      ul.posts li .byline .username {
        font-weight: bold; }
    ul.posts li .text {
      display: block;
      margin-bottom: 0.5rem; }
    ul.posts li .date {
      font-weight: lighter; }
    ul.posts li .actions {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      ul.posts li .actions li {
        display: inline-block;
        margin: 0;
        padding: 0.25rem;
        border: none; }

.profile {
  padding-top: 2rem;
  text-align: center; }
  .profile h1 {
    margin: 0; }
  .profile nav ul {
    list-style-type: none; }
    .profile nav ul li {
      display: inline-block;
      padding: 1rem; }

/*# sourceMappingURL=styles.css.map */
