* {
  box-sizing: border-box; }

body,
html {
  font-size: 18px;
  font-family: 'ibm plex sans','helvetica',sans-serif;
  padding: 0;
  margin: 0; }

body {
  background: #F0F0F0; }

.nightmode {
  background: #001d3e;
  color: #FFF; }
  .nightmode a.button,
  .nightmode button {
    color: #FFF;
    background-color: #00aeef; }
  .nightmode #header,
  .nightmode .dialog,
  .nightmode .loading,
  .nightmode .panel,
  .nightmode .post.detail_view,
  .nightmode .post_form,
  .nightmode .sidebar,
  .nightmode ul.notifications,
  .nightmode ul.posts {
    background-color: #003471; }
  .nightmode .post.detail_view {
    border: 1px solid #000; }
  .nightmode ul.posts li {
    border-top-color: #000; }
  .nightmode ul.notifications li {
    border-top-color: #000; }
  .nightmode ul.replies {
    background-color: #003471; }
    .nightmode ul.replies li {
      border-bottom: 1px solid #000; }
  .nightmode .attached_link .summary a {
    color: #00aeef; }
  .nightmode a {
    color: #00aeef; }
  .nightmode nav ul li.active {
    border-bottom: 2px solid #00aeef; }

.darknightmode {
  background: #06080b;
  color: #FFF; }
  .darknightmode a.button,
  .darknightmode button {
    color: #FFF;
    background-color: #1E74A0; }
  .darknightmode #header,
  .darknightmode .dialog,
  .darknightmode .loading,
  .darknightmode .panel,
  .darknightmode .post.detail_view,
  .darknightmode .post_form,
  .darknightmode .sidebar,
  .darknightmode ul.notifications,
  .darknightmode ul.posts {
    background-color: #181F2C; }
  .darknightmode .post.detail_view {
    border: 1px solid #111; }
  .darknightmode ul.posts li {
    border-top-color: #DFE9F9; }
  .darknightmode ul.notifications li {
    border-top-color: #111; }
  .darknightmode ul.replies {
    background-color: #181F2C; }
    .darknightmode ul.replies li {
      border-bottom: 1px solid #111; }
  .darknightmode .attached_link .summary a {
    color: #FDE311; }
  .darknightmode a {
    color: #FDE311; }
  .darknightmode nav ul li.active {
    border-bottom: 2px solid #FDE311; }

img {
  max-width: 100%; }

form {
  margin: 0; }

a {
  color: brown;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

nav a:hover {
  text-decoration: none; }
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0.5rem 0; }
  nav ul li {
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    margin-bottom: -2px; }
    nav ul li.active {
      border-bottom: 2px solid brown; }
    nav ul li.menu {
      cursor: pointer; }
    nav ul li .label {
      display: none; }
    nav ul li.big_screen_only {
      display: none; }
    @media all and (min-width: 600px) {
      nav ul li.small_screen_only {
        display: none; }
      nav ul li.big_screen_only {
        display: inline-block; }
      nav ul li .label {
        display: inline; } }
    nav ul li ul {
      display: none;
      position: absolute;
      top: 1.9rem;
      width: 200px;
      background: #fff;
      z-index: 2;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
      right: 0;
      padding: 0;
      text-align: right; }
      @media all and (min-width: 875px) {
        nav ul li ul {
          right: auto;
          left: -1rem;
          text-align: left; } }
      nav ul li ul li {
        display: block;
        border-bottom: 2px solid #CCC;
        padding: 0.5rem 1rem 0.5rem 1rem !important; }
        nav ul li ul li:first-child {
          padding-top: 1rem; }
    nav ul li:hover ul {
      display: block; }
nav.right {
  right: 0;
  top: 0;
  position: absolute; }
  nav.right li {
    padding-left: 0;
    padding-right: 1rem; }

a.button,
button {
  font-size: 18px;
  border: 0;
  border-radius: 6px;
  padding: 0.25rem 1rem;
  background-color: #FFCCCC; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#header {
  padding: 0 1rem;
  position: fixed;
  padding: 0;
  background-color: #FFF;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #CCC;
  z-index: 3; }
  #header .wrapper {
    position: relative;
    /* for the nav */
    overflow-x: visible; }

.body {
  margin-top: 3rem; }

.wrapper {
  position: relative;
  /* for the nav */
  max-width: 600px;
  margin: 0 auto;
  hyphens: auto; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

.sidebar {
  display: none;
  position: absolute;
  top: 1rem;
  left: calc(100% + 1rem);
  min-width: 200px;
  background: #FFF; }
  @media all and (min-width: 1050px) {
    .sidebar {
      display: block; } }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .sidebar ul li {
      padding: 0.25rem 1rem; }

.post_form {
  padding: 1rem;
  background: #FFF; }
  .post_form .avatar {
    float: left; }
    .post_form .avatar img {
      width: 50px;
      height: 50px; }
  .post_form .composer {
    margin-left: 70px;
    border: 2px solid #CCC;
    margin-bottom: 1rem; }
    .post_form .composer textarea {
      width: 100%;
      border: 0;
      margin: 0;
      padding: 0.5rem;
      border-radius: 0; }
  .post_form .img_preview {
    width: 100px;
    max-height: 100px;
    margin: 0.5rem;
    position: relative;
    display: inline-block;
    overflow: hidden; }
    .post_form .img_preview img {
      max-width: 100%;
      border: 1px solid #CCC;
      display: block; }
  .post_form .avatar {
    width: 50px;
    height: 50px;
    flex-grow: 0;
    flex-shrink: 0; }
  .post_form textarea {
    flex-grow: 1;
    margin-bottom: 1rem;
    font-size: 20px; }
  .post_form .actions {
    text-align: right; }

ul.notifications {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #FFF; }
  ul.notifications li {
    margin: 0;
    border-top: 1px solid #CCC;
    padding: 0.5rem 1rem; }
    ul.notifications li .post {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      border: 1px solid #CCC;
      padding: 0.5rem; }

ul.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #FFF;
  overflow: hidden; }
  ul.posts li {
    margin-bottom: 1rem; }
    ul.posts li:after {
      content: "";
      display: table;
      clear: both; }

.post {
  position: relative;
  margin: 1rem 0;
  border-top: 1px solid #CCC;
  padding: 0.5rem 1rem 0; }
  .post:after {
    content: "";
    display: table;
    clear: both; }
  .post:first-child {
    margin-top: 0; }
  .post nav ul {
    padding-top: 0.5rem; }
    .post nav ul li {
      padding-right: 0.5rem; }
  .post .avatar {
    float: left;
    padding-top: 3px; }
    .post .avatar img {
      width: 50px;
      height: 50px; }
  .post.revised {
    padding-bottom: 0.5rem; }
  .post .content {
    margin-left: 70px; }
  .post .text {
    display: block;
    margin-bottom: 0.5rem; }
  .post .actions {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .post .actions a {
      text-decoration: none; }
    .post .actions li {
      display: inline-block;
      margin: 0;
      padding: 0.25rem;
      border: none; }
  .post .image {
    border: 1px solid #CCC;
    max-width: 100% !important;
    display: inline-block; }
    .post .image img {
      max-width: 100%; }
  .post.detail_view {
    margin-top: 4rem;
    background-color: #FFF;
    border: 1px solid #CCC; }
    .post.detail_view .text {
      font-size: 1.2rem; }

.image.hero {
  max-width: 100% !important;
  display: block; }
  .image.hero img {
    width: 100%;
    max-width: 100%; }

.image.hero + .post {
  margin-top: 0; }

.byline {
  margin-bottom: 0.25rem; }
  .byline .username {
    font-weight: bold; }

.replyline {
  font-weight: lighter;
  margin-bottom: 0.25rem;
  font-size: 0.8rem; }

.revisionline {
  font-weight: lighter;
  margin-bottom: 0.25rem;
  font-size: 0.8rem; }

.date {
  font-weight: lighter; }

.profile {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center; }
  .profile .avatar {
    width: 100px;
    height: 100px;
    margin: 0px auto 1rem; }
    .profile .avatar img {
      border-radius: 50%; }
  .profile h1 {
    margin: 0; }
  .profile .invitedBy {
    margin: 0; }
  .profile nav ul {
    list-style-type: none; }
    .profile nav ul li {
      display: inline-block;
      padding: 1rem; }

.upload-btn-wrapper {
  position: relative;
  display: inline-block; }

.attachment,
.attachment {
  background: transparent;
  font-size: 18px;
  border: 0;
  border-radius: 6px;
  padding: 0.25rem 1rem;
  display: inline-block;
  cursor: pointer; }

ul.replies {
  list-style-type: none;
  background: #FFF;
  margin: 0;
  padding: 0; }
  ul.replies li {
    padding: 1rem;
    border-bottom: 1px solid #CCC; }
    ul.replies li .content {
      margin-left: 70px; }
      ul.replies li .content li {
        padding: 0;
        border: none;
        margin-bottom: 0.5rem; }

h1 {
  /* used at top of profile page */ }

h2 {
  /* title of "Revisions" page */
  text-align: center; }

.dialog {
  background: #FFF;
  padding: 1rem;
  margin: 1rem 0; }
  .dialog h1,
  .dialog h2,
  .dialog h3 {
    margin-top: 0; }

.tiny_avatar {
  display: inline-block; }
  .tiny_avatar img {
    width: 25px;
    height: 25px; }

.menu-highlighted {
  font-weight: bold; }

.user-search {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #FFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0; }

.user-search .list-group-item.active {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca; }

.user-search .list-group-item.active .text-muted {
  color: #ccc; }

.user-search .list-group-item.active .text-primary {
  color: #fff; }

.user-search .list-group-item {
  padding: 5px; }

.user-search .user-photo {
  max-width: 30px;
  max-height: 30px;
  border-radius: 15px; }

mentio-menu {
  display: none; }

.panel {
  padding: 1rem;
  margin-bottom: 2rem;
  background: white; }
  .panel h1, .panel h2 {
    margin-top: 0; }
  .panel h2 {
    text-align: left; }
  .panel p label {
    display: block; }
  .panel p input[type=text],
  .panel p textarea {
    font-size: 1.2rem;
    width: 100%; }
  .panel p textarea {
    width: 100%; }

.avatar_control img {
  width: 100px;
  height: 100px;
  display: block; }

.big_search {
  text-align: center;
  margin: 4rem 1rem 1rem; }
  .big_search input {
    font-size: 16px; }

#message_window {
  /*height: 500px;
  width: 320px;*/
  height: calc(100% - 55px);
  width: 100%;
  display: flex;
  flex-direction: row; }

.online_now {
  padding: 0.25rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  background: #F0FFF0; }

#roster {
  display: none;
  flex-shrink: 0;
  width: 200px;
  border-left: 1px solid #CCC; }
  #roster ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    #roster ul li {
      padding: 1rem; }
      #roster ul li.title {
        background: #FFF; }
        #roster ul li.title h3 {
          margin: 0; }
  @media all and (min-width: 600px) {
    #roster {
      display: block; } }

#chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto; }
  #chat section {
    flex-grow: 1;
    flex-direction: column-reverse;
    display: flex;
    overflow-y: auto; }
  #chat footer {
    border-top: 1px solid #CCC;
    flex-shrink: 0; }

#message_window .disconnected {
  background: #FFFFCC;
  padding: 0.25rem; }

#message_window.connected .disconnected {
  display: none; }

#message_window .offline {
  display: none; }

#message_window.offline .disconnected {
  display: none; }

#message_window.offline .offline {
  background: #FF0000;
  color: #FFF;
  padding: 0.25rem;
  display: block; }

footer.pagination:after {
  content: "";
  display: table;
  clear: both; }
footer.pagination a {
  display: block;
  padding: 1rem; }
footer.pagination .previous {
  float: left; }
footer.pagination .next {
  float: right; }

.loading {
  padding: 1rem;
  background: #FFF; }
  .loading img {
    max-width: 100px;
    margin: 0 auto;
    display: block; }

.overlay {
  display: none; }
  .overlay.active {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center; }
  .overlay .menu {
    font-size: 1.5rem;
    color: #FFF;
    list-style-type: none;
    padding: 0;
    width: 100%; }
    .overlay .menu li {
      position: relative;
      background: #000;
      padding: 0.5rem 2rem;
      border-radius: 30px;
      border: 5px solid #666;
      margin: 1rem auto;
      display: block;
      text-align: left;
      right: -100%;
      transition: right 0.3s ease-in-out; }
      .overlay .menu li:nth-child(2n) {
        transition: right 0.35s ease-in-out; }
      .overlay .menu li:nth-child(3n) {
        transition: right 0.4s ease-in-out; }
      .overlay .menu li:nth-child(4n) {
        transition: right 0.5s ease-in-out; }
      .overlay .menu li:hover a {
        color: #FFF; }
      .overlay .menu li a {
        display: block;
        text-decoration: none; }
    .overlay .menu.active li {
      right: -30%; }
      .overlay .menu.active li:nth-child(2n) {
        right: calc(-30% - 1rem); }
      .overlay .menu.active li:nth-child(3n) {
        right: calc(-30% - 2rem); }
      .overlay .menu.active li:nth-child(4n) {
        right: calc(-30% - 3rem); }
  .overlay .lightbox {
    width: 90%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.anon {
  background: #FFF; }
  .anon nav ul {
    font-weight: bold; }
  .anon .signup .avatar {
    width: 50px;
    height: 50px;
    display: block; }
  .anon .signup label {
    display: block;
    font-weight: bold; }
  .anon .signup .checkbox label {
    font-weight: normal; }
  .anon .signup p input[type=text],
  .anon .signup p textarea {
    font-size: 1.2rem;
    width: 100%;
    padding: 0.25em;
    border: 1px solid brown; }
  .anon .signup p textarea {
    width: 100%; }
  .anon .signup p .tip {
    display: block;
    font-size: 0.8rem; }
  .anon .signup p.checkbox {
    padding-left: 2rem; }
    .anon .signup p.checkbox input {
      width: auto;
      margin-left: -1.5rem; }

.dangerbox {
  margin-top: 2rem;
  border: 2px solid red;
  padding: 1rem; }

.progress {
  width: 100%; }
  .progress .bar {
    background: brown;
    height: 1rem; }

.attached_link {
  display: flex;
  align-items: center;
  border: 1px solid #CCC; }
  @media all and (min-width: 600px) {
    .attached_link {
      align-items: flex-start; } }
  .attached_link .thumbnail {
    flex-grow: 0;
    margin: 0.25rem;
    display: block; }
    @media all and (min-width: 600px) {
      .attached_link .thumbnail {
        margin: 0.5rem; } }
    .attached_link .thumbnail img {
      max-width: 85px; }
      @media all and (min-width: 600px) {
        .attached_link .thumbnail img {
          max-width: 125px; } }
  .attached_link .summary {
    display: block;
    margin: 0.25rem;
    font-size: 0.8rem; }
    @media all and (min-width: 600px) {
      .attached_link .summary {
        margin: 0.5rem; } }
    .attached_link .summary a {
      font-weight: bold;
      color: #333; }
    .attached_link .summary p {
      display: none; }
    @media all and (min-width: 600px) {
      .attached_link .summary p {
        margin: 0;
        display: block; } }
  .attached_link .thumbnail + .summary {
    margin-left: 0.75rem; }

.attached_link + .attached_link {
  border-top: 0; }

.copypaste {
  width: 100%;
  display: flex; }
  .copypaste button {
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 0; }
  .copypaste input {
    flex-grow: 1; }

.invited_by {
  padding: 1rem;
  background: #FFFFCC; }

.people_list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .people_list li {
    padding: 1rem;
    border-top: 1px solid #CCC;
    display: flex;
    align-items: center; }
    .people_list li .avatar {
      flex-grow: 0;
      width: 60px; }
      .people_list li .avatar img {
        width: 50px;
        height: 50px; }
    .people_list li .username {
      font-weight: bold;
      display: block; }
    .people_list li .bio {
      margin: 0; }

.url {
  overflow-wrap: break-word; }

/*# sourceMappingURL=styles.css.map */
