* {
  box-sizing: border-box; }

html, body {
  font-size: 18px;
  font-family: 'ibm plex sans','helvetica',sans-serif;
  background: #f0f0f0;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

form {
  margin: 0; }

a {
  color: brown;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

nav a:hover {
  text-decoration: none; }
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0.5rem 0 0.5rem; }
  nav ul li {
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    margin-bottom: -2px; }
    nav ul li.active {
      border-bottom: 2px solid brown; }
    nav ul li.menu {
      cursor: pointer; }
    nav ul li .label {
      display: none; }
    nav ul li.big_screen_only {
      display: none; }
    @media all and (min-width: 600px) {
      nav ul li.small_screen_only {
        display: none; }
      nav ul li.big_screen_only {
        display: inline-block; }
      nav ul li .label {
        display: inline; } }
    nav ul li ul {
      display: none;
      position: absolute;
      top: 1rem;
      width: 200px;
      background: #fff;
      z-index: 2;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
      right: 0rem;
      text-align: right; }
      @media all and (min-width: 875px) {
        nav ul li ul {
          right: auto;
          left: -1rem;
          text-align: left; } }
      nav ul li ul li {
        display: block;
        border-bottom: 2px solid #CCC;
        padding: 0.5rem 1rem 0.5rem 1rem !important; }
        nav ul li ul li:first-child {
          padding-top: 1rem; }
    nav ul li:hover ul {
      display: block; }
nav.right {
  right: 0;
  top: 0;
  position: absolute; }
  nav.right li {
    padding-left: 0rem;
    padding-right: 1rem; }

button, a.button {
  font-size: 18px;
  border: 0px;
  border-radius: 6px;
  padding: 0.25rem 1rem;
  background-color: #FFCCCC; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#header {
  padding: 0 1rem;
  position: fixed;
  padding: 0;
  background-color: #FFF;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #CCC;
  z-index: 3; }
  #header .wrapper {
    position: relative;
    /* for the nav */ }

.body {
  margin-top: 3rem; }

.wrapper {
  position: relative;
  /* for the nav */
  max-width: 600px;
  margin: 0px auto; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

.sidebar {
  display: none;
  position: absolute;
  top: 1rem;
  left: calc(100% + 1rem);
  min-width: 200px;
  background: #FFF; }
  @media all and (min-width: 1050px) {
    .sidebar {
      display: block; } }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .sidebar ul li {
      padding: 0.25rem 1rem; }

.post_form {
  padding: 1rem;
  background: #FFF; }
  .post_form .avatar {
    float: left; }
    .post_form .avatar img {
      width: 50px;
      height: 50px; }
  .post_form .composer {
    margin-left: 70px;
    border: 2px solid #CCC;
    margin-bottom: 1rem; }
    .post_form .composer textarea {
      width: 100%;
      border: 0;
      margin: 0;
      padding: 0.5rem; }
  .post_form .img_preview {
    width: 100px;
    max-height: 100px;
    margin: 0.5rem;
    position: relative;
    display: inline-block;
    overflow: hidden; }
    .post_form .img_preview img {
      max-width: 100%;
      border: 1px solid #CCC;
      display: block; }
  .post_form .avatar {
    width: 50px;
    height: 50px;
    flex-grow: 0;
    flex-shrink: 0; }
  .post_form textarea {
    flex-grow: 1;
    margin-bottom: 1rem;
    font-size: 20px; }
  .post_form .actions {
    text-align: right; }

ul.notifications {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #FFF; }
  ul.notifications li {
    margin: 0;
    border-top: 1px solid #CCC;
    padding: 0.5rem 1rem 0.5rem; }
    ul.notifications li .post {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      border: 1px solid #CCC;
      padding: 0.5rem; }

ul.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #FFF; }
  ul.posts li:after {
    content: "";
    display: table;
    clear: both; }

.post {
  margin: 1rem 0;
  border-top: 1px solid #CCC;
  padding: 0.5rem 1rem 0; }
  .post:after {
    content: "";
    display: table;
    clear: both; }
  .post .avatar {
    float: left;
    padding-top: 3px; }
    .post .avatar img {
      width: 50px;
      height: 50px; }
  .post.revised {
    padding-bottom: 0.5rem; }
  .post .content {
    margin-left: 70px; }
  .post .text {
    display: block;
    margin-bottom: 0.5rem; }
  .post .actions {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .post .actions li {
      display: inline-block;
      margin: 0;
      padding: 0.25rem;
      border: none; }
  .post .image {
    border: 1px solid #CCC;
    max-width: 100% !important;
    display: inline-block; }
    .post .image img {
      max-width: 100%; }
  .post.detail_view {
    margin-top: 4rem;
    background-color: #FFF;
    border: 1px solid #CCC; }
    .post.detail_view .text {
      font-size: 1.2rem; }

.byline {
  margin-bottom: 0.25rem; }
  .byline .username {
    font-weight: bold; }

.replyline {
  font-weight: lighter;
  margin-bottom: 0.25rem;
  font-size: 0.8rem; }

.revisionline {
  font-weight: lighter;
  margin-bottom: 0.25rem;
  font-size: 0.8rem; }

.date {
  font-weight: lighter; }

.profile {
  padding-top: 2rem;
  text-align: center; }
  .profile h1 {
    margin: 0; }
  .profile nav ul {
    list-style-type: none; }
    .profile nav ul li {
      display: inline-block;
      padding: 1rem; }

.upload-btn-wrapper {
  position: relative;
  display: inline-block; }

.attachment,
.attachment {
  background: transparent;
  font-size: 18px;
  border: 0px;
  border-radius: 6px;
  padding: 0.25rem 1rem;
  display: inline-block;
  cursor: pointer; }

ul.replies {
  list-style-type: none;
  background: #FFF;
  margin: 0;
  padding: 0; }
  ul.replies li {
    padding: 1rem;
    border-bottom: 1px solid #CCC; }
    ul.replies li .content {
      margin-left: 70px; }

h1 {
  /* used at top of profile page */ }

h2 {
  /* title of "Revisions" page */
  text-align: center; }

.dialog {
  background: #FFF;
  padding: 1rem;
  margin: 1rem 0 1rem; }
  .dialog h1, .dialog h2, .dialog h3 {
    margin-top: 0; }

.tiny_avatar {
  display: inline-block; }
  .tiny_avatar img {
    width: 25px;
    height: 25px; }

.menu-highlighted {
  font-weight: bold; }

.user-search {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #FFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0; }

.user-search .list-group-item.active {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca; }

.user-search .list-group-item.active .text-muted {
  color: #ccc; }

.user-search .list-group-item.active .text-primary {
  color: #fff; }

.user-search .list-group-item {
  padding: 5px; }

.user-search .user-photo {
  max-width: 30px;
  max-height: 30px;
  border-radius: 15px; }

mentio-menu {
  display: none; }

.editprofile p label {
  display: block; }
.editprofile p input, .editprofile p textarea {
  font-size: 1.2rem; }
.editprofile p textarea {
  width: 100%; }

.big_search {
  text-align: center;
  margin: 4rem 1rem 1rem 1rem; }
  .big_search input {
    font-size: 16px; }

#message_window {
  /*height: 500px;
  width: 320px;*/
  height: calc(100% - 55px);
  width: 100%;
  display: flex;
  flex-direction: row; }

.online_now {
  padding: 0.25rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  background: #F0FFF0; }

#roster {
  display: none;
  flex-shrink: 0;
  width: 200px;
  border-left: 1px solid #CCC; }
  #roster ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    #roster ul li {
      padding: 1rem; }
  @media all and (min-width: 600px) {
    #roster {
      display: block; } }

#chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px auto; }
  #chat section {
    flex-grow: 1;
    flex-direction: column-reverse;
    display: flex;
    overflow-y: auto; }
  #chat footer {
    border-top: 1px solid #CCC;
    flex-shrink: 0; }

#message_window .disconnected {
  background: #FFFFCC;
  padding: 0.25rem; }

#message_window.connected .disconnected {
  display: none; }

#message_window .offline {
  display: none; }

#message_window.offline .disconnected {
  display: none; }

#message_window.offline .offline {
  background: #FF0000;
  color: #FFF;
  padding: 0.25rem;
  display: block; }

footer.pagination:after {
  content: "";
  display: table;
  clear: both; }
footer.pagination a {
  display: block;
  padding: 1rem; }
footer.pagination .previous {
  float: left; }
footer.pagination .next {
  float: right; }

.loading {
  padding: 1rem;
  background: #FFF; }
  .loading img {
    max-width: 100px;
    margin: 0px auto;
    display: block; }

/*# sourceMappingURL=styles.css.map */
