<div ng-controller="detail" class="wrapper">
    <div class="post detail_view">
        <div class="avatar">
            <img ng-src="{% ui.post.user.avatar_url %}" ng-if="ui.post.user.avatar_url"/>
        </div>
        <div class="content">
            <div class="byline">
                <a ng-href="/@{% ui.post.user.username %}" class="username">{% ui.post.user.displayName %}</a> <a ng-href="/@{% ui.post.user.username %}/tots/{% ui.post._id %}" class="date">{% ui.post.date | date : "MMM d, h:mm a" %}</a>
            </div>
            <div class="replyline" ng-if="ui.post.replyTo">
                reply to <a ng-href="/@{% ui.post.replyTo.user.username %}/tots/{% ui.post.replyTo._id %}">{% ui.post.replyTo.user.displayName %}</a>
            </div>
            <div class="text" ng-bind-html="ui.post.rendered_text | renderPostText"></div>
            <div class="revisionLine" ng-if="ui.post.updated">
                updated <a ng-href="/@{% ui.post.user.username %}/tots/{% ui.post._id %}/revisions" class="date">{% ui.post.updated | date : "MMM d, h:mm a" %}</a>
            </div>
            <div class="image" ng-repeat="image in ui.post.images">
                <img ng-src="{% image.url %}" alt="{% image.name %}" ng-click="lightbox(image.url)"/>
            </div>
            <ul class="actions">
                <li ng-if="ui.post.faved"><a ng-click="unfave(ui.post._id);">🌟</a><span class="faveCount" ng-if="ui.post.faveCount"> {% ui.post.faveCount %}</span></li>
                <li ng-if="!ui.post.faved"><a ng-click="fave(ui.post._id);">⭐️</a><span class="faveCount" ng-if="ui.post.faveCount"> {% ui.post.faveCount %}</span></li>
                <li>💬 <span class="replyCount" ng-if="ui.post.replyCount"> {% ui.post.replyCount %}</span></li>

                <li ng-if="ui.post.mine"><A href="/@{% ui.post.user.username %}/tots/{% ui.post._id %}/edit">Edit</a></li>
                    <li ng-if="ui.post.live"><a href="/@{% ui.post.user.username %}/tots/{% ui.post._id %}/live">🔴 LIVE!!!</a></li>
            </ul>
        </div>
    </div>
    <div ng-if="!ui.post.comments_disabled">
        <ul class="replies">
            <li ng-repeat="comment in ui.comments" class="reply" id="comment-{% comment._id %}">
                <div class="content">
                    <div class="byline">
                        <a ng-href="/@{% comment.user.username %}" class="username">{% comment.user.displayName %}</a> <a ng-href="/@{% ui.post.user.username %}/tots/{% ui.post._id %}#comment-{% comment._id %}" class="date">{% comment.date | date : "MMM d, h:mm a" %}</a>
                    </div>
                    <div class="text" ng-bind-html="comment.rendered_text | renderPostText"></div>
                </div>
            </li>

        </ul>
        <div ng-if="ui.auth">
            <form method="post" class="post_form" ng-submit="postComment()">
                <div class="avatar">
                    <img ng-src="{% ui.user.avatar_url %}" class="avatar" />
                </div>
                <div class="composer">
                  <textarea
                    ng-model="ui.comment.text"
                    placeholder="Reply to this tot"

                    id="comment_composer"

                    rows="1" msd-elastic

                    mentio mentio-trigger-char="'@'"
                    mentio-items="ui.people"
                    mentio-search="searchPeople(term)"
                    mentio-template-url="/people-mentions.tpl"
                    mentio-typed-term="ui.selected_mention"
                  >
                  </textarea>
                </div>
                <div class="actions">
                    <label for="post_to_feed"><input type="checkbox" ng-model="ui.comment.post_to_feed" id="post_to_feed"> Also post to feed</label>
                    <button type="submit" ng-disabled="ui.working || !ui.comment.text.length">Post</button>
                </div>
            </form>
        </div>
    </div>

</div>
