<div ng-controller="detail" class="wrapper">
    <div class="image hero" ng-repeat="image in ui.post.images">
        <img ng-src="//d3u8hlyfcwmgkr.cloudfront.net/{% image.s3_key %}" alt="{% image.name %}" ng-click="lightbox('//d3u8hlyfcwmgkr.cloudfront.net/' + image.s3_key)" />
    </div>
    <div class="post detail_view">
        <nav class="right" ng-if="ui.post.mine">
            <ul>
                <li class="menu">
                    🍔
                    <ul>
                        <li><A href="/@{% ui.post.user.username %}/tots/{% ui.post._id %}/edit">Edit</a></li>
                        <li ng-click="deletePost(ui.post)">Delete</li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="avatar">
              <a ng-href="/@{% ui.post.user.username %}"><img ng-src="{% ui.post.user.avatar_url %}" ng-if="ui.post.user.avatar_url"/></a>
        </div>
        <div class="content">
            <div class="byline">
                <a ng-href="/@{% ui.post.user.username %}" class="username">{% ui.post.user.displayName %}</a> <a ng-href="/@{% ui.post.user.username %}/tots/{% ui.post._id %}" class="date">{% ui.post.date | date : "MMM d, h:mm a" %}</a>
            </div>
            <div class="replyline" ng-if="ui.post.replyTo">
                reply to <a ng-href="/@{% ui.post.replyTo.user.username %}/tots/{% ui.post.replyTo._id %}">{% ui.post.replyTo.user.displayName %}</a>
            </div>
            <div class="text" ng-bind-html="ui.post.rendered_text | renderPostText"></div>
            <div class="revisionLine" ng-if="ui.post.updated">
                updated <a ng-href="/@{% ui.post.user.username %}/tots/{% ui.post._id %}/revisions" class="date">{% ui.post.updated | date : "MMM d, h:mm a" %}</a>
            </div>
            <div ng-repeat="attachment in ui.post.attachments" class="attached_link">
                <a class="thumbnail" ng-href="{% attachment.url %}" ng-if="attachment.thumbnail"><img ng-src="{% attachment.thumbnail %}"></a>
                <div class="summary">
                    <a ng-href="{% attachment.url %}">{% attachment.title %}</a>
                    <p ng-if="attachment.description">{% attachment.description %}</p>
                </div>
            </div>
            <ul class="actions">
                <li ng-if="ui.post.faved"><a ng-click="unfave(ui.post._id);">🌟</a><span class="faveCount" ng-if="ui.post.faveCount"> {% ui.post.faveCount %}</span></li>
                <li ng-if="!ui.post.faved"><a ng-click="fave(ui.post._id);">⭐️</a><span class="faveCount" ng-if="ui.post.faveCount"> {% ui.post.faveCount %}</span></li>
                <li>💬 <span class="replyCount" ng-if="ui.post.replyCount"> {% ui.post.replyCount %}</span></li>
                <li ng-if="ui.post.live"><a href="/@{% ui.post.user.username %}/tots/{% ui.post._id %}/live">🔴 LIVE!!!</a></li>
            </ul>
        </div>
    </div>
    <div ng-if="!ui.post.comments_disabled">
        <ul class="replies">
            <li ng-repeat="comment in ui.comments" class="reply" id="comment-{% comment._id %}">
                <div class="content">
                    <div class="byline">
                        <a ng-href="/@{% comment.user.username %}" class="username">{% comment.user.displayName %}</a> <a ng-href="/@{% ui.post.user.username %}/tots/{% ui.post._id %}#comment-{% comment._id %}" class="date">{% comment.date | date : "MMM d, h:mm a" %}</a>
                    </div>
                    <div class="text" ng-bind-html="comment.rendered_text | renderPostText"></div>
                    <div class="image" ng-repeat="image in comment.images">
                        <img ng-src="//d3u8hlyfcwmgkr.cloudfront.net/{% image.s3_key %}" alt="{% image.name %}" ng-click="lightbox('//d3u8hlyfcwmgkr.cloudfront.net/' + image.s3_key)" />
                    </div>
                    <div ng-repeat="attachment in comment.attachments" class="attached_link">
                        <a class="thumbnail" ng-href="{% attachment.url %}" ng-if="attachment.thumbnail"><img ng-src="{% attachment.thumbnail %}"></a>
                        <div class="summary">
                            <a ng-href="{% attachment.url %}">{% attachment.title %}</a>
                            <p ng-if="attachment.description">{% attachment.description %}</p>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
        <div ng-if="ui.auth">
            <form method="post" name="commentForm" class="post_form" ng-submit="postComment()">
                <div class="avatar">
                    <img ng-src="{% ui.user.avatar_url %}" class="avatar" />
                </div>
                <div class="composer">
                  <textarea
                    ng-model="ui.comment.text"
                    placeholder="Reply to this tot"

                    id="comment_composer"

                    rows="1" msd-elastic

                    mentio mentio-trigger-char="'@'"
                    mentio-items="ui.people"
                    mentio-search="searchPeople(term)"
                    mentio-template-url="/people-mentions.tpl"
                    mentio-typed-term="ui.selected_mention"
                  >
                  </textarea>
                  <div class="img_preview" ng-if="commentForm.file.$valid && ui.comment.file" >
                      <img ngf-src="ui.comment.file" ng-click="removeFile()"/>
                  </div>
                </div>
                <div class="actions" ng-if="ui.working">
                    <div class="progress">
                        <div style="width:{{ui.progress}}%"
                        ng-bind="ui.progress + '%'" class="bar"></div>
                    </div>
                </div>
                <div class="actions" ng-if="!ui.working">
                    <div class="upload-btn-wrapper" ng-show="!ui.comment.file">
                      <label for="file" class="attachment">📷</label>
                      <input id="file" style="display: none;" ng-model="ui.comment.file" ngf-select type="file" accept="image/*" name="file" />
                    </div>

                    <label for="post_to_feed"><input type="checkbox" ng-model="ui.comment.post_to_feed" id="post_to_feed"> Also post to feed</label>

                    <button type="submit" ng-disabled="ui.working || (!ui.comment.text.length && !ui.comment.file)">Post</button>
                </div>
            </form>
        </div>
    </div>

</div>
