<div ng-controller="editpost" class="wrapper">

    <div class="panel post_form">
        <h1>Edit Post</h1>
        <form method="post" encType="multipart/form-data" ng-submit="saveEdit()">
            <input type="hidden" name="_id" ng-value="ui.post._id" />
            <div class="avatar" ng-if="ui.user.avatar_url">
                <img ng-src="{% ui.user.avatar_url %}" class="avatar" />
            </div>
            <div class="composer">
                <textarea name="text" ng-model="ui.post.editable_text" rows="1" msd-elastic mentio mentio-trigger-char="'@'" mentio-items="ui.people" mentio-search="searchPeople(term)" mentio-template-url="/people-mentions.tpl" mentio-typed-term="ui.selected_mention"></textarea>
            </div>
            <div class="actions">

                <div class="upload-btn-wrapper">
                    <label for="live"><input type="checkbox" id="live" ng-model="ui.post.live" /> Live Replies</label>

                </div>

                <button type="submit" ng-disabled="!ui.post.editable_text">Update Post</button>
            </div>
        </form>
    </div>

</div>
