<div ng-controller="faves" class="wrapper">

  <div class="profile">
  <h1>{% ui.profile.displayName %}</h1>

  <nav>
    <ul>
      <li><a ng-href="/@{% ui.profile.username %}/faves">Faves</a></li>
      <li><a ng-href="/@{% ui.profile.username %}/following">Following</a></li>
      <li><a ng-href="/@{% ui.profile.username %}/followers">Followers</a></li>
    </ul>
  </nav>


      <a href="/actions/follow/{{profile._id}}" class="button" ng-if="!ui.following">Follow</a>
      <a href="/actions/unfollow/{{profile._id}}" class="button" ng-if="ui.following">Unfollow</a>
      <span ng-if="ui.followback">
        Follows you
      </span>
  </div>

  <div  ng-include="'/partials/posts.html'"></div>

  <footer class="pagination" ng-if="ui.loaded">
    <a ng-if="ui.previous" class="previous" ng-href="/@{% ui.profile.username %}/faves/{% ui.previous %}">PREVIOUS PAGE</a>
    <a ng-if="ui.next" class="next" ng-href="/@{% ui.profile.username %}/faves/{% ui.next %}">NEXT PAGE</a>
  </footer>

</div>
