<div ng-controller="detail">
    <div class="post detail_view">
        <div class="avatar">
            <img ng-src="{% ui.post.user.avatar_url %}" ng-if="ui.post.user.avatar_url"/>
        </div>
        <div class="content">
            <div class="byline">
                <a ng-href="/@{% ui.post.user.username %}" class="username">{% ui.post.user.displayName %}</a> <a ng-href="/@{% ui.post.user.username %}/tots/{% ui.post._id %}" class="date">{% ui.post.date | date : "MMM d, h:mm a" %}</a>
            </div>
            <div class="replyline" ng-if="ui.post.replyTo">
                reply to <a ng-href="/@{% ui.post.replyTo.user.username %}/tots/{% ui.post.replyTo._id %}">{% ui.post.replyTo.user.displayName %}</a>
            </div>
            <div class="text" ng-bind-html="ui.post.rendered_text | renderPostText"></div>
            <div class="revisionLine" ng-if="ui.post.updated">
                updated <a ng-href="/@{% ui.post.user.username %}/tots/{% ui.post._id %}/revisions" class="date">{% ui.post.updated | date : "MMM d, h:mm a" %}</a>
            </div>
            <div class="image" ng-repeat="image in ui.post.images">
                <img ng-src="{% image.url %}" alt="{% image.name %}" />
            </div>
            <ul class="actions">
                <li ng-if="ui.post.faved"><a ng-click="unfave(ui.post._id);">🌟</a><span class="faveCount" ng-if="ui.post.faveCount"> {% ui.post.faveCount %}</span></li>
                <li ng-if="!ui.post.faved"><a ng-click="fave(ui.post._id);">⭐️</a><span class="faveCount" ng-if="ui.post.faveCount"> {% ui.post.faveCount %}</span></li>
                <li>💬 <span class="replyCount" ng-if="ui.post.replyCount"> {% ui.post.replyCount %}</span></li>

                <li ng-if="ui.post.mine"><A href="/@{% ui.post.user.username %}/tots/{% ui.post._id %}/edit">Edit</a></li>

            </ul>
        </div>
    </div>
    <div id="message_window">
        <div class="disconnected">
            Disconnected... reconnecting!
        </div>
        <div class="offline">
            Offline! Reload to reconnect.
        </div>

        <section>
            <div id="message_list">
                <div id="message_template">
                    <div class="message {{message.type}}">
                        {{#if message.isTyping}}
                            <div class="typing-indicator">
                                ...
                            </div>
                        {{/if}}
                        {{message.user.displayName}}:
                        {{{message.html}}}
                    </div>
                </div>
            </div>
        </section>
        <div id="message_replies">
        </div>
        <footer>
            <form onsubmit="messenger.send(messenger.input.value, event)">
                <input type="text" autocomplete="off" id="messenger_input" placeholder="Type here..." />
                <button type="submit">Send</button>
            </form>
        </footer>
    </div>

</div>
