<div ng-controller="notifications">
<ul class="notifications">
    <li ng-repeat="notification in ui.notifications">
        <span class="notification" ng-bind-html="notification.html"></span>
        <div ng-if="notification.post" class="post">
            <div class="byline">
                <a ng-href="/@{% notification.post.user.username %}" class="username">{% notification.post.user.displayName %}</a> <a ng-href="/@{% notification.post.user.username %}/tots/{% notification.post._id %}"  class="date">{% notification.post.date | date : "MMM d, h:mm a" %}</a>
            </div>
            <div class="text" ng-bind-html="notification.post.text | renderPostText"></div>
        </div>
    </li>
</ul>
</div>
