<div class="loading" ng-if="!ui.loaded">
  <img ng-src="{% ui.gif %}">
</div>
<div class="content" ng-if="ui.loaded">
    <ul class="posts">
            <li ng-repeat="post in ui.posts" class="post">
                <div class="avatar" ng-if="post.user.avatar_url">
                    <a ng-href="/@{% post.user.username %}"><img ng-src="{% post.user.avatar_url %}" ng-if="post.user.avatar_url"/></a>
                </div>
                <div class="content">
                    <div class="byline">
                        <a ng-href="/@{% post.user.username %}" class="username">{% post.user.displayName %}</a> <a ng-href="{% linkToPost(post) %}" class="date">{% post.date | date : "MMM d, h:mm a" %}</a>
                    </div>
                    <div class="replyline" ng-if="post.replyTo">
                        reply to <a ng-href="{% linkToPost(post.replyTo) %}">{% post.replyTo.user.displayName %}</a>
                    </div>
                    <div class="text" ng-bind-html="post.rendered_text | renderPostText"></div>
                    <div class="revisionLine" ng-if="post.updated">
                        updated <a ng-href="{% linkToPost(post) %}/revisions" class="date">{% post.updated | date : "MMM d, h:mm a" %}</a>
                    </div>
                    <div class="image" ng-repeat="image in post.images">
                        <img ng-src="{% image.url %}" alt="{% image.name %}" ng-click="lightbox(image.url)" />
                    </div>
                    <div ng-repeat="attachment in post.attachments" class="attached_link">
                        <a class="thumbnail" ng-href="{% attachment.url %}" ng-if="attachment.thumbnail"><img ng-src="{% attachment.thumbnail %}"></a>
                        <div class="summary">
                             <a ng-href="{% attachment.url %}">{% attachment.title %}</a>
                             <p ng-if="attachment.description">{% attachment.description %}</p>
                        </div>
                    </div>
                    <ul class="actions">
                        <li ng-if="post.faved"><a ng-click="unfave(post._id);">🌟 <span class="faveCount" ng-if="post.faveCount"> {% post.faveCount %}</span></a></li>
                        <li ng-if="!post.faved"><a ng-click="fave(post._id);">⭐️ <span class="faveCount" ng-if="post.faveCount"> {% post.faveCount %}</span></a></li>
                        <li><a ng-href="{% linkToPost(post) %}">💬 <span class="replyCount" ng-if="post.replyCount"> {% post.replyCount %}</span></a></li>
                        <li ng-if="post.live"><a href="{% linkToPost(post) %}">🔴 {% post.liveCount %} LIVE!</a></li>

                    </ul>
                </div>
            </li>
    </ul>
</div>
