<div class="content">
    <ul class="posts">
            <li ng-repeat="post in ui.posts">
                <div class="avatar">
                    <img ng-src="{% post.user.avatar_url %}" ng-if="post.user.avatar_url"/>
                </div>
                <div class="content">
                    <div class="byline">
                        <a ng-href="/@{% post.user.username %}" class="username">{% post.user.displayName %}</a> <span class="date">{% date | date : "MMM Do, h:mm a" %}</span>
                    </div>
                    <div class="text" ng-bind-html=" post.text | renderPostText"></div>
                        <div class="image" ng-repeat="image in post.images">
                            <img ng-src="{% image.url %}" alt="{% image.name %}" />
                        </div>
                    <ul class="actions">
                        <li ng-if="post.faved"><a ng-click="unfave(post._id);">🌟</a><span class="faveCount" ng-if="post.faveCount"> {% post.faveCount %}</span></li>
                        <li ng-if="!post.faved"><a ng-click="fave(post._id);">⭐️</a><span class="faveCount" ng-if="post.faveCount"> {% post.faveCount %}</span></li>

                        <li>💬</li>
                    </ul>
                </div>
            </li>
    </ul>
</div>
