<form ng-if="ui.auth" name="postForm" method="post" encType="multipart/form-data" class="post_form" ng-controller="postForm" ng-submit="submit()">
    <div class="avatar" ng-if="ui.user.avatar_url">
        <img ng-src="{% ui.user.avatar_url %}" class="avatar" />
    </div>
    <div class="composer">
        <textarea
            name="text"
            ng-focus="focus()"
            ng-model="tot.text"
            placeholder="Share a tot"

            ng-disabled="ui.working"

            mentio
            mentio-trigger-char="'@'"
            mentio-items="ui.people"
            mentio-search="searchPeople(term)"
            mentio-template-url="/people-mentions.tpl"
            mentio-typed-term="ui.selected_mention"

            rows="1" msd-elastic
        ></textarea>
        <div class="img_preview" ng-if="postForm.file.$valid && tot.file" >
            <img ngf-src="tot.file" ng-click="removeFile()"/>
        </div>
    </div>
    <div class="actions" ng-if="ui.focused && ui.working">
        <div class="progress">
            <div style="width:{{ui.progress}}%"
            ng-bind="ui.progress + '%'" class="bar"></div>
        </div>
    </div>
    <div class="actions" ng-if="ui.focused && !ui.working">
        <div class="upload-btn-wrapper" ng-show="!tot.file">
          <label for="file" class="attachment">📷</label>
          <input id="file" style="display: none;" ng-model="tot.file" ngf-select ngf-fix-orientation="true" type="file" accept="image/*" name="file" />
        </div>
        <button type="submit" name="live" value="true" ng-click="tot.live = true" ng-disabled="!tot.text.length">Post & Go Live</button>
        <button type="submit" ng-disabled="!tot.text.length">Post</button>
    </div>
</form>
