<form ng-if="ui.auth" method="post" encType="multipart/form-data" action="/actions/post" class="post_form" ng-controller="postForm" ng-submit="submit">
    <div class="avatar" ng-if="ui.user.avatar_url">
        <img ng-src="{% ui.user.avatar_url %}" class="avatar" />
    </div>
    <div class="composer">
        <textarea
            name="text"
            ng-focus="focus()"
            ng-model="tot.text"
            placeholder="Share a tot"

            mentio
            mentio-trigger-char="'@'"
            mentio-items="ui.people"
            mentio-search="searchPeople(term)"
            mentio-template-url="/people-mentions.tpl"
            mentio-typed-term="ui.selected_mention"

        ></textarea>

        <!--
        mentio-search="searchPeople(term)"
        mentio-select="getPeopleTextRaw(item)"

     -->
        <div class="img_preview" ng-if="ui.file && ui.img_preview">
            <img ng-src='{% ui.img_preview %}' ng-click="removeFile()"/>
        </div>
    </div>
    <div class="actions" ng-if="ui.focused">
        <div class="upload-btn-wrapper" ng-show="!ui.file">
          <label for="file" class="attachment">📷</label>
          <input id="file" style="display: none;" ng-model="ui.file" ng-change="fileChange()" type="file" accept="image/*" name="image" />
        </div>
        <button type="submit" ng-disabled="!tot.text.length">Post</button>
    </div>
</form>
