<div ng-controller="profile" class="wrapper">

  <div class="profile">
  <h1>{% ui.profile.displayName %}</h1>

  <nav>
    <ul>
      <li><a ng-href="/@{% ui.profile.username %}/faves">Faves</a></li>
      <li><a ng-href="/@{% ui.profile.username %}/following">Following</a></li>
      <li><a ng-href="/@{% ui.profile.username %}/followers">Followers</a></li>
    </ul>
  </nav>


      <a ng-click="follow(ui.profile._id)" class="button" ng-if="!ui.following">Follow</a>
      <a ng-click="unfollow(ui.profile._id)"  class="button" ng-if="ui.following">Unfollow</a>
      <span ng-if="ui.followback">
        Follows you
      </span>
  </div>

  <div  ng-include="'/partials/posts.html'"></div>

  <a ng-if="ui.previous" ng-href="/@{% ui.profile.username %}/{% ui.previous %}">PREVIOUS PAGE</a>
  <a ng-if="ui.next" ng-href="/@{% ui.profile.username %}/{% ui.next %}">NEXT PAGE</a>


</div>
