<div ng-controller="search" class="wrapper">

  <form method="get" ng-submit="search()" class="big_search">
      <input type="search" results name="query" ng-model="ui.query" placeholder="Search" />
  </form>

  <div  ng-include="'/partials/posts.html'"></div>

  <footer class="pagination" ng-if="ui.loaded">
    <a ng-if="ui.previous" class="previous" ng-href="/search/{%ui.query %}/{% ui.previous %}">PREVIOUS PAGE</a>
    <a ng-if="ui.next" class="next" ng-href="/search/{%ui.query %}/{% ui.next %}">NEXT PAGE</a>
  </footer>

</div>
